@{
    ViewData["Title"] = "Showmewhatyougot";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>there is allways one every season</p>
<p>partical disentergator and a canistor fill of sneks</p>

<img src="https://res.cloudinary.com/teepublic/image/private/s---YpWxDit--/t_Preview/b_rgb:262c3a,c_limit,f_jpg,h_630,q_90,w_630/v1446244667/production/designs/297947_1.jpg" alt="Whatyougot" >
